@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Sarabun&display=swap');
#content {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Sarabun", Helvetica, sans-serif;
}

nav a {
  text-align: center;
  color: #fbce9d;
  background-color: #090c9b;
  text-decoration: none;
  font-family: Arial Black, Tahoma, sans-serif;
  padding: 35px;
}
nav a:hover {
  background-color: #fbce9d;
  color: #090c9b;
}

nav {
  display: flex;
  justify-content: space-around;
}

#hero-msg h1 {
  text-align: center;
  color: #1fe5ff;
}

#hero-msg h4 {
  text-align: center;
}

#hero-img {
  width: 100%;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

main section h2 {
  font-family: "Bungee Shade", Tahoma, sans-serif;
}

main section img {
  box-sizing: border-box;
}


#background {
  height: 725px;
  background-color: #330f0a; 
}

body {
  background-color: whitesmoke;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1fe5ff;
  display: grid;
  grid-template-columns: 150px auto;
}

footer {
  background-color: #1fe5ff;
  padding: 25px 50px;
  margin-top: 200px;
}

.book {
  color: #fbce9d;
  background-color: #090c9b;
  text-decoration: none;
  font-family: Arial Black, Tahoma, sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover {
  background-color: #fbce9d;
  color: #090c9b;
}

.join {
  color: #fbce9d;
  background-color: #090c9b;
  text-decoration: none;
  font-family: Arial Black, Tahoma, sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.join:hover {
  background-color: #fbce9d;
  color: #090c9b;
}

.msg {
  background-color: #330f0a;
  color: #1fe5ff;
  line-height: 1.5em;
  padding: 35px;
}

.home-title {
  color: #330f0a;
  font-family: "Bungee Shade", Tahoma, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

h4 {
  color: #fbce9d;
}

h2 {
  margin: 0;
}

.msg h2 {
  color: #fbce9d;
  font-family: "Bungee Shade", Tahoma, sans-serif;
}

.msg p {
  color: #1fe5ff;
  font-size: .8em;
  padding-bottom: 15px;
}

footer h3 {
  color: #330f0a;
}

footer a {
  color: #330f0a;
  text-decoration: none;
  font-family: Arial Black, Tahoma, sans-serif;
}

footer a:hover {
  color: #090c9b;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

footer h3 a:hover {
  text-decoration: underline;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

footer .social img {
  padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #d9c2a3;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px; 
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;

}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
